$blue-text-color: #18374b;
$black-color: #020001;
$dark-grey-color: rgb(43, 46, 53); //#2b2e35
$light-grey-color: #eaeaea;
$red-bg-color: rgb(255, 51, 42);
$orange-color: rgb(255, 98, 31); //#ff621f


/*
.Rectangle_9_copy {
  background-color: rgb(255, 98, 31);
  position: absolute;
  left: 502px;
  top: 4352px;
  width: 997px;
  height: 100px;
  z-index: 128;
}
.Rectangle_9 {
  background-color: rgb(255, 51, 42);
  position: absolute;
  left: 502px;
  top: 4360px;
  width: 997px;
  height: 100px;
  z-index: 127;
}


*/